body, h1, h2, h3, p, form, ul, ol, li, dl, dd, dt {
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff;
    font-size: 12px;
}

ul, ol {
    list-style-type: none;
}
#page{
    text-align: center;
    padding: 10px;
}
#top {
    background: url("../images/admin_top_bg.gif");
}

#top ul {
    padding: 47px 0 0 10px;
    float: left;
}

#top ul li {
    float: left;
    padding: 0 0 0 5px;
}

#top ul li a {
    width: 58px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    display: block;
    background: url("../images/li_bg.png") no-repeat left bottom;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
}

#top ul li a.selected {
    background: url("../images/li_bg.png") no-repeat right bottom;
    color: #3b6ea5;
}

#top h1 {
    background: url("../images/logosmall.png") no-repeat;
    width: 150px;
    height: 80px;
    font-size: 12px;
    text-indent: -9999px;
    float: left;
}

#top p {
    float: right;
    padding: 33px 20px 0 0;
    color: #ffffff;
}

#top p a {
    text-decoration: none;
    color: #ffffff;
}

#top p a:hover {
    text-decoration: underline;
}

#sidebar {
    background: #f7fbfc url("../images/sidebar_right.png") repeat-y right;
}

#sidebar dl {
    padding: 20px;
    text-indent: 2px;
}

#sidebar dl dt {
    font-size: 14px;
    color: #3b6ea5;
    font-weight: bold;
    border-bottom: 1px solid #cccccc;
    padding: 5px 0;
    margin: 5px 0;
}

#sidebar dl dd {
    height: 22px;
    line-height: 22px;
}

#sidebar dl dd a {
    color: #333;
    text-decoration: none;
}

#sidebar dl dd a:hover {
    text-decoration: underline;
}

#main {
    background: #ffffff;
}

#main div.map {
    padding: 15px;
    color: #333;
}

#main div.map strong {
    color: #008000;
}

#main table {
    width: 95%;
    margin: 0 auto;
    text-align: center;
}

#main table.left {
    text-align: left;
}

#main table tr {
    background: #ffffff;
}

#main table tr:hover {
    background: #ffffcc;
}

#main table th, #main table td {
    height: 30px;
    line-height: 30px;
    color: #333;
}

#main table th {
    background: #eef3f7;
    border-bottom: 1px solid #d5dfe8;
    font-weight: normal;
}

#main table td {
    border-bottom: 1px solid #eee;
}

#main a {
    text-decoration: none;
    color: #3b6ea5;
}

#main a:hover {
    text-decoration: underline;
}

#main p.center {
    text-align: center;
    padding: 20px;
}

#main form input.text {
    width: 220px;
    height: 19px;
    background: #ffffff;
    border: 1px solid #cccccc;
}

#main form select {
    width: 100px;
    height: 19px;
    background: #ffffff;
}
#main form textarea {
    font-size: 13px;
    width: 220px;
    height: 100px;
    background: #ffffff;
    border: 1px solid #cccccc;
    margin: 0 0 0 65px;
}
#main form input.submit {
    cursor: pointer;
    margin: 0 0 0 65px;
}

#main ol {
    padding: 0 0 0 32px;
    height: 35px;
}

#main ol li {
    float: left;
    padding: 0 10px 0 0;
}

#main ol li a {
    display: block;
    padding: 6px;
}

#main ol li a:hover {
    background: #eeeeee;
}

#main ol li a.selected {
    background: #3b6ea5;
    color: #ffffff;
}


