#cast {
    margin: 0 0 10px 0;
    border: 1px solid #cccccc;
}

#cast h2 {
}

#cast h2 a {
    color: #360;
    text-decoration: none;
}

#cast h2 a:hover {
    color: #f60;
}

#cast table{
    width: 80%;
    margin: 15px auto;
    background: #cccccc;
}
#cast table caption{
    font-size: 22px;
    color: #333;
    padding: 0 0 10px 0;
    font-weight: bolder;
}
#cast table th,#cast table td{
    padding: 10px;
    background: #ffffff;
    text-align: center;
}

